{% extends 'base.html' %}
{% load static %}

<html lang="en">

{% block body %}
  <section id="index" class="index">
  
  <div class="jumbotron jumbotron-fluid" style="background-color:#FEB95F">
      <div class="container text-center">
        <img src="{% static 'images/UserPhoto.jpg'%}" width="25%" class="rounded-circle img-thumbnail">
        <h1 class="display-4" >Hallo!</h1>
        <p class="lead">Saya Aji Inisti<br>Mahasiswa Ilmu Komputer, Fasilkom UI <br>2018</p>
      </div>
  </div>
</section>

{% endblock body %}
