{% extends 'base.html' %}
{% load static %}

<html lang="en">

{% block body %}

<section id="pengalaman" class="pengalaman">
    <div class="container">
      <div class="row my-4">
        <div class="col">
          <h2>Edukasi</h2>
        </div>
      </div>
        
      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush"> Fakultas Ilmu Komputer,Universitas Indonesia 2018-Sekarang
            <li class="list-group-item">Jurusan Ilmu Komputer</li>
          </ul>
          <ul class="list-group list-group-flush"> SMAN 61 Jakarta 2015-2018
              <li class="list-group-item">Jurusan Matematika dan Ilmu Pengetahuan Alam</li>
            </ul>
        </div>
      </div>

      <div class="row my-4">
        <div class="col">
          <h2>Pengalaman</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <ul class="list-group list-group-flush">Panitia SIWAK NG 2019
              <li class="list-group-item">Bagian Hubungan Masyarakat dan Publikasi</li>
          </ul>
          <ul class="list-group list-group-flush">Pramuka 2015-2017
              <li class="list-group-item">Sekretaris</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}