{% extends 'base.html' %}
{% load static %}

<html lang="en">

{% block body %}
<section class="tentangsaya" id="tentangsaya" >
    <div class="jumbotron jumbotron-fluid" style="background-color:#AA0534;">
      <div class="container">
        <h3 class="display-4"style="color:aliceblue">Tentang Saya</h3>
        <p class="lead" style="color:aliceblue">
          Nama                        :   Aji Inisti Udma Wijaya
          <br>Tanggal Lahir        :	12 Agustus 2000
          <br>NPM                         :	1806141126
          <br>Jurusan                     :	Ilmu Komputer
          <br>Hobi                        :	Membaca komik, membaca buku & mendengarkan musik
        </p>
        <p class="lead" style="color:aliceblue"> Saya adalah orang yang tertarik dalam bidang data mining dan Embedded System.  
            Saya pertama kali mencoba programming saat di bangku SMA. 
            Saya tertarik sehingga melanjutkan programming ke jenjang perkuliahan</p>
      </div>
    </div>
</section>

{% endblock body %}